<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h2>REGISTRO DE RESERVAS: </h2>
            <hr>
        </div>
    </div>

    

    <div class="row row-cols-1 row-cols-md-4 mt-5 g-2">
        <div class="col" *ngFor="let reserva of reservas">
            <div class="card h-100 shadow text-center p-3">
                <h4>Nombre: {{reserva.nombre}}</h4>
                <h6>Apellido: {{reserva.apellido}}</h6>
                <h6>Telefono: {{reserva.telefono}}</h6>
                <h6>Fecha Inicio: {{reserva.fechaInicio}}</h6>
                <h6>Fecha Final: {{reserva.fechaFinal}}</h6>
                <h6>Cantidad Personas: {{reserva.cantidadPersonas}}</h6>
                <h6>Habitacion: {{reserva.idHabitacion}}</h6>
                <h6>Costo: {{reserva.costoReserva}}</h6>
            </div>
        </div>
    </div>
</div>
